@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Nixie+One&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Sansita:wght@400;700&display=swap');

body {
   margin: 0;
   font-family: 'Ubuntu', 'Nixie One', 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, cursive;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
